/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/websocket-server/vendor
.env
.env.backup
.env.testing
/database/*.sqlite
.phpunit.result.cache
.phpunit.cache
phpunit.xml.bak
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Local binaries and generated user media
/bin/*.exe
/public/js/*.exe
/public/images/users/
/public/video/users/
/public/chat_attachments/
/public/stories/
/public/error_log.txt
/public/js/*.pdf
/public/js/*.mpd
/.github/workflows/tests.yml
